<!DOCTYPE html>
<html lang="en">
<head>
  <title>Matchmaking</title>
  <% include ./partials/_head %>
  <script type="text/javascript" src="/scripts/blackjack.js"></script>
</head>
<body class="container-fluid">
  <header>
    <% include ./partials/_header %>
  </header>
    <h1 class="game-title">Blackjack</h1>
    <div class="game-board">

      <div class="row player2-cards"></div>

      <div class="row dealer-cards"></div>

      <div class="row player1-cards"></div>
      <button id="hit-button" class="btn primary-btn">hit</button>
      <button id="stand-button" class="btn primary-btn">stand</button>
      <ul id="notifications">
      <!-- notification message is rendered here -->
      <ul>
    </div>
</body>
