<!DOCTYPE html>
<html lang="en">
<head>
  <title>Matchmaking</title>
  <% include ./partials/_head %>
  <script type="text/javascript" src="/scripts/goofspiel.js"></script>
</head>
<body class="container">
  <header>
    <% include ./partials/_header %>
  </header>
  <a>This is the game you are playing</a>
  <span id="one">one</span>
  <span id="two">two</span>
  <span id="three">three</span>
  <span id="four">four</span>
  <span id="five">five</span>
  <span id="six">six</span>
  <span id="seven">seven</span>
  <span id="eight">eight</span>
  <span id="nine">nine</span>
  <span id="ten">ten</span>
  <span id="eleven">eleven</span>
  <span id="twelve">twelve</span>
  <span id="thirteen">thirteen</span>
</body>
