<!DOCTYPE html>
<html lang="en">
<head>
  <title>Matchmaking</title>
  <% include ./partials/_head %>
</head>
<body class="container">
  <header>
    <% include ./partials/_header %>
  </header>
  <a>This is the game you are playing</a>
</body>
