<!DOCTYPE html>
<html lang="en">
<head>
  <title>Matchmaking</title>
  <% include ./partials/_head %>
  <!--<script type="text/javascript" src="/scripts/goofspiel.js"></script>-->
</head>
<body class="container-fluid">
  <header>
    <% include ./partials/_header %>
  </header>
    <h3 class="text-primary text-center">Goofspiel</h3>
    <div class="game-board">

      <div class="row" class="player2-cards">
        <div id="1"><img src="/images/00.png" class="playing-card"></div>
        <div id="2"><img src="/images/00.png" class="playing-card"></div>
        <div id="3"><img src="/images/00.png" class="playing-card"></div>
        <div id="4"><img src="/images/00.png" class="playing-card"></div>
        <div id="5"><img src="/images/00.png" class="playing-card"></div>
        <div id="6"><img src="/images/00.png" class="playing-card"></div>
        <div id="7"><img src="/images/00.png" class="playing-card"></div>
        <div id="8"><img src="/images/00.png" class="playing-card"></div>
        <div id="9"><img src="/images/00.png" class="playing-card"></div>
        <div id="10"><img src="/images/00.png" class="playing-card"></div>
        <div id="11"><img src="/images/00.png" class="playing-card"></div>
        <div id="12"><img src="/images/00.png" class="playing-card"></div>
        <div id="13"><img src="/images/00.png" class="playing-card"></div>
        </div>
      </div>
      <div class="row" class="prize-cards">
        <div id="1"><img src="/images/00.png" class="playing-card"></div>
        <div id="1"><img src="/images/00.png" class="playing-card"></div>
      </div>
      <div class="row" class="player1-cards">
        <div id="1"><img src="/images/00.png" class="playing-card"></div>
        <div id="2"><img src="/images/00.png" class="playing-card"></div>
        <div id="3"><img src="/images/00.png" class="playing-card"></div>
        <div id="4"><img src="/images/00.png" class="playing-card"></div>
        <div id="5"><img src="/images/00.png" class="playing-card"></div>
        <div id="6"><img src="/images/00.png" class="playing-card"></div>
        <div id="7"><img src="/images/00.png" class="playing-card"></div>
        <div id="8"><img src="/images/00.png" class="playing-card"></div>
        <div id="9"><img src="/images/00.png" class="playing-card"></div>
        <div id="10"><img src="/images/00.png" class="playing-card"></div>
        <div id="11"><img src="/images/00.png" class="playing-card"></div>
        <div id="12"><img src="/images/00.png" class="playing-card"></div>
        <div id="13"><img src="/images/00.png" class="playing-card"></div>
      </div>
    </div>
</body>
