<!DOCTYPE html>
<html lang="en">
<head>
  <title>Matchmaking</title>
  <% include ./partials/_head %>
  <script type="text/javascript" src="/scripts/goofspiel.js"></script>
</head>
<body class="container-fluid">
  <header>
    <% include ./partials/_header %>
  </header>
    <h1 class="game-title">Goofspiel</h1>
    <div class="game-board">

      <div class="row player2-cards"></div>

      <div class="row prize-cards">
      </div>
      <div class="row player1-cards"></div>
      <div id="send-button" class="btn primary-btn hidden hidden">Send</div>
      <div id="victory" class="hidden">TEST</div>
      <div id="score"></div>
    </div>
</body>
