<!DOCTYPE html>
<html lang="en">
<head>
  <title>Matchmaking</title>
  <% include ./partials/_head %>
  <!--<script type="text/javascript" src="/scripts/goofspiel.js"></script>-->
</head>
<body class="container-fluid">
  <header>
    <% include ./partials/_header %>
  </header>
    <h3 class="text-primary text-center">Goofspiel</h3>
      <div class="row">
        <div class="col-xs-6 well">
        <a>other player cards on backside rendered here</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 well">
         <a>prize card rendered here</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-1 well" id="1">1</div>
        <div class="col-xs-1 well" id="2">2</div>
        <div class="col-xs-1 well" id="3">3</div>
        <div class="col-xs-1 well" id="4">4</div>
        <div class="col-xs-1 well" id="5">5</div>
        <div class="col-xs-1 well" id="6">6</div>
      </div>
        <div class="col-xs-1 well" id="7">7</div>
        <div class="col-xs-1 well" id="8">8</div>
        <div class="col-xs-1 well" id="9">9</div>
        <div class="col-xs-1 well" id="10">10</div>
      </div>
      <div class="row">
        <div class="col-xs-1 well" id="11">11</div>
        <div class="col-xs-1 well" id="12">12</div>
        <div class="col-xs-1 well" id="13">13</div>
      </div>
    </div>
  </div>
</body>
