<!DOCTYPE html>
<html lang="en">
<head>
  <title>Matchmaking</title>
  <% include ./partials/_head %>
  <!--<script type="text/javascript" src="/scripts/goofspiel.js"></script>-->
</head>
<body class="container-fluid">
  <header>
    <% include ./partials/_header %>
  </header>
    <h3 class="text-primary text-center">Goofspiel</h3>
    <div class="game-board">

      <div class="row" class="player2-cards">
        <% for (let i = 1; i <= 13; i++) { %>
          <div id="<%= i %>"><img src="/images/00.png" class="playing-card"></div>
        <% } %>
        </div>
      </div>
      <div class="row" class="prize-cards">
        <div id="1"><img src="/images/00.png" class="playing-card"></div>
        <div id="1"><img src="/images/00.png" class="playing-card"></div>
      </div>
      <div class="row" class="player1-cards">
        <% for (let i = 1; i <= 13; i++) { %>
          <div id="<%= i %>"><img src="/images/0<%= i %>.png" class="playing-card"></div>
        <% } %>
      </div>
    </div>
</body>
