<!DOCTYPE html>
<html lang="en">
<head>
  <title>Matchmaking</title>
  <% include ./partials/_head %>
</head>
<body class="container-fluid">
  <header>
    <% include ./partials/_header %>
  </header>
    <h3 class="text-primary text-center">Goofspiel</h3>
    <div class="game-board">

      <div class="row" class="player2-cards">
        <div class="col-xs-6 well">
        <a>other player cards on backside rendered here</a>
        </div>
      </div>
      <div class="row" class="prize-cards">
        <div class="col-xs-6 well">
         <a>prize card rendered here</a>
        </div>
      </div>
      <div class="row" class="player1-cards">
        <div class="col-xs-1 well">1</div>
        <div class="col-xs-1 well">2</div>
        <div class="col-xs-1 well">3</div>
        <div class="col-xs-1 well">4</div>
        <div class="col-xs-1 well">5</div>
        <div class="col-xs-1 well">6</div>
        <div class="col-xs-1 well">7</div>
        <div class="col-xs-1 well">8</div>
        <div class="col-xs-1 well">9</div>
        <div class="col-xs-1 well">10</div>
        <div class="col-xs-1 well">11</div>
        <div class="col-xs-1 well">12</div>
        <div class="col-xs-1 well">13</div>
      </div>
    </div>
</body>



