<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_head %>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<body class="container">
  <header>
    <% include ./partials/_header %>
  </header>
  <div class="banner-container">
    <img class="banner" src="/images/2786.jpg">
  </div>
  <div class="match-btn">
    <a href="#"><i class="fa fa-handshake-o" aria-hidden="true"></i>Find Match</a>
  </div>
</body>


