<!DOCTYPE html>
<html lang="en">
<head>
  <title>Matchmaking</title>
  <% include ./partials/_head %>
</head>
<body class="container">
  <header>
    <% include ./partials/_header %>
  </header>
  <div class="banner-container">
    <img class="banner" src="/images/2786.jpg">
  </div>
  <div class="match-btn">
    <a href="#">Find Match</a>
  </div>
</body>


