<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_head %>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<body class="container">
  <header>
    <% include ./partials/_header %>
  </header>
  <a>Hello World!</a>
  <span class="goofspiel">goofspiel</span>
</body>


