<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
  </head>
  <body class="container">
  <h1>Login</h1>
    <form action="/login" method="POST">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input id="username" type="text" name="username" placeholder="username" style="width: 150px">
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input id="password" type="password" name="password" placeholder="enter password" style="width: 150px" required>
      </div>
      <button class="btn" type="submit">Submit</button>
    </form>
  </body>
</html>
