
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Choose Your Match</title>
</head>
<body>
  <div class="container">
    
    <button type="button" class="btn btn-primary" id="goofspiel">goofspiel</button>
  </div>
</body>
</html>
