
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Choose Your Match</title>
  <head>
    <% include ./partials/_head %>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
<body class="container">
  <header>
    <% include ./partials/_header %>
  </header>
<body>
  <div class="container">

    <div class="row">
      <div class="col-sm-6">
        <div id="goofspiel" class="card">
          <div class="card-block">
            <img class="card-img-top img-fluid" src="/images/2786.jpg" alt="Card image cap">
            <h3 class="card-title">Goofspiel</h3>
            <p class="card-text">Goofspiel, also known as The Game of Pure Strategy or GOPS, was invented by Merrill Flood while at Princeton University in the 1930s.</p>
             <form method="POST" action="/newgame/goofspiel">
              <input type="submit" class="btn btn-warning" value="Goofspiel">
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-block">
          <img class="card-img-top img-fluid" src="/images/2786.jpg" alt="Card image cap">
            <h3 class="card-title">Blackjack</h3>
            <p class="card-text">Blackjack's precursor was twenty-one, a game of unknown origin. The first written reference is found in a book by the Spanish author Miguel de Cervantes, most famous for writing Don Quixote.</p>
            <form method="POST" action="/newgame/blackjack">
              <input type="submit" class="btn btn-warning" value="Blackjack">
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>
</html>
