
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Choose Your Match</title>
  <head>
    <% include ./partials/_head %>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
<body class="container">
  <header>
    <% include ./partials/_header %>
  </header>
<body>
  <div class="container">

      <div class="card-columns">
        <div id="goofspiel" class="card">
          <img class="card-img-top img-fluid" src="..." alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title that wraps to a new line</h4>
            <p class="card-text">Goofspiel, also known as The Game of Pure Strategy or GOPS, was invented by Merrill Flood while at Princeton University in the 1930s</p>
            <a href="#" class="btn btn-primary">Goofspiel</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top img-fluid" src="..." alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title that wraps to a new line</h4>
            <p class="card-text">Blackjack's precursor was twenty-one, a game of unknown origin. The first written reference is found in a book by the Spanish author Miguel de Cervantes, most famous for writing Don Quixote.</p>
            <a href="#" class="btn btn-primary">Blackjack</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top img-fluid" src="..." alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title that wraps to a new line</h4>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top img-fluid" src="..." alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title that wraps to a new line</h4>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top img-fluid" src="..." alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title that wraps to a new line</h4>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top img-fluid" src="..." alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title that wraps to a new line</h4>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>

  </div>
</body>
</html>
