<!DOCTYPE html>
<html lang="en">
<head>
  <title>Matchmaking</title>
  <% include ./partials/_head %>
  <script type="text/javascript" src="/scripts/profile.js"></script>
</head>
<body class="container">
  <header>
    <% include ./partials/_header %>
  </header>


  <h1><%=profileUsername%>'s Scoreboard</h1>

<!--   <article class="user-game-links">
	  <div id="game-link">
	    <a href="#">GAME LINK!</a>
	  </div>
	</article> -->

	  <article class="archived-game">
      <table id="archives" class="table table-bordered table-inverse">
	      <tr>
  	        <th>Game</th>
  	        <th>Player 1</th>
  	        <th>Player 2</th>
  	        <th>Player 1 Score</th>
  	        <th>Player 2 Score</th>
	        </tr>
      </table>
	  </article>
</body>
</html>

<script>
	 window.App = {
	 	userId: <%= userId %>
	 }
</script>
