$font-stack-headings: 'Berkshire Swash', cursive;
$font-stack-normal: 'Open Sans', sans-serif;
$primary-color: #0C6339;
$red-color: #C9302C;
$yellow-color: #FFBF00;

/* Main page */
body {
  padding-top: 100px;
  background-color: $primary-color;
  background-image: url("/images/wood.png");
  color: #eee;
  font-family: $font-stack-normal;
}

.banner-container {
  margin: auto;
  text-align: center;
  width: 800px;

  .banner {
    height: 500px;
    padding: 8px;
  }
}


.match-btn {
  background-color: $red-color;
  border-radius: 8px;
  margin: auto;
  padding: 10px;
  text-align: center;
  width: 200px;

  a {
    color: #fff;
    font-size: 22px;
    text-decoration: none;
  }
}

/* Navigation bar */

.navbar {
  background-color: $red-color;
}

.navbar-brand {
  font-family: $font-stack-headings;
}

a.nav-link {
  color: white;
}

.playing-card{
  width: 50px;
  height: 80px;
  margin: 5px;
}

.hidden {
  visibility: hidden;
}

#send-button {
  background-color: blue;
}
