$font-stack-headings: 'Berkshire Swash', cursive;
$font-stack-normal: 'Open Sans', sans-serif;
$red-color: #C9302C;
$yellow-color: #FFBF00;
$green-color: #449D44;

/* Main page */
body {
  padding-top: 100px;
  background-color: $green-color;
  background-image: url("/images/wood.png");
  color: #eee;
  font-family: $font-stack-normal;

  h1 {
    color: #fff;
    font-family: $font-stack-headings;
    text-shadow: -1px 0 #180D01, 0 1px #180D01, 1px 0 #180D01, 0 -1px #180D01;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    color: $yellow-color;
    text-decoration: none;
  }

}

.banner-container {
  margin: auto;
  text-align: center;
  width: 800px;

  .banner {
    height: 500px;
    padding: 8px;
  }
}


.match-btn {
  background-color: $red-color;
  border-radius: 8px;
  margin: auto;
  padding: 10px;
  text-align: center;
  width: 200px;

  a {
    font-size: 22px;
  }
}

/* Navigation bar */
.navbar {
  background-color: $red-color;

}

.navbar-brand {
  font-family: $font-stack-headings;
}

/* New game page */
.card{
  background-color: $green-color;

  .card-img-top {
    padding-bottom: 20px;
  }
}

/* Goofspiel */
.game-title {
  margin-top: 95px;
  line-height: 4px;
  text-align: center;
}

.game-board {
  background: green; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(green 30%, darkgreen 70%); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(green 30%, darkgreen 70%); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(green 30%, darkgreen 70%); /* For Firefox 3.6 to 15 */
  background: radial-gradient(green 30%, darkgreen 70%); /* Standard syntax (must be last) */
  border: 1px solid #180D01;
  margin: auto;
  width: 800px;

  .prize-cards {
    width: 150px;
  }

  .row {
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
  }

}

.playing-card {
  width: 50px;
  height: 80px;
  margin: 5px;
}

.hidden {
  visibility: hidden;
}

#send-button {
  background-color: $red-color;
}

#notifications {
  list-style: none;
  font-size: 22px;

}
